<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- Icono de inicio -->
        <a class="navbar-brand" href="#">Inicio</a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#menu-inicio">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Opciones del menú que se renderizan -->
        <div class="collapse navbar-collapse" 
             id="menu-inicio">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Menú anuncios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                       href="#" id="menu-anuncio" 
                       role="button" 
                       data-bs-toggle="dropdown">

                       Anuncios
                    </a>

                    <!-- Opciones del desplegable -->
                    <ul class="dropdown-menu" 
                        aria-labelledby="menu-anuncio">

                        <li>
                            <a class="dropdown-item" href="#">
                                Anuncios
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">
                                Nuevo anuncio
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Menú fiestas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                       href="#" id="menu-fiestas" 
                       role="button" 
                       data-bs-toggle="dropdown">

                       Fiestas
                    </a>

                    <!-- Opciones del desplegable -->
                    <ul class="dropdown-menu" 
                        aria-labelledby="menu-fiestas">

                        <li>
                            <a class="dropdown-item" href="#">
                                Fiestas
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">
                                Nueva fiesta
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Menú Noticias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                       href="#" id="menu-noticias" 
                       role="button" 
                       data-bs-toggle="dropdown">

                       Noticias
                    </a>

                    <!-- Opciones del desplegable -->
                    <ul class="dropdown-menu" 
                        aria-labelledby="menu-noticias">

                        <li>
                            <a class="dropdown-item" href="#">
                                Noticias
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">
                                Nueva noticia
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>